.view-more-button {
	background-color: #4040f7;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	border:1px solid #ffffff;
    display:flex;
	color:#f7f7f7;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
    height:48px;
    line-height:48px;
    width: auto;
    margin-left:auto;
    margin-right:auto;
    padding: 0 15px 5px 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.view-more-button:hover {
    background-color:#3142de;
    cursor: pointer;
}